.page-menu-wrapper {
    &__list {
        list-style-type: none;
    }
    &__item {
        &:hover {
            text-decoration: underline;
        }
    }
    &__link {
        color: white;
        text-decoration: none;
    }
}

@include res(sm) {
    .page-menu-wrapper {
        &__item {
            font-size: 2.1rem;
        }
    }
}