.page-background-wrapper {
    position: absolute;
    z-index: -99999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/page_background.jpg');
    background-size: cover;
    &__dark {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .4);
    }
}