.info-wrapper {
    &__header {
        margin-bottom: 5px;
        font-size: 2rem;
        font-weight: 400;
    }
    &__paragraph {
        width: 86%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 120%;
    }
}